/*
 * @author Jefferson Souza
 * @contact hsinfo@gmail.com
 * @package Caesar Park
 */

@CHARSET "UTF-8";

body {
	background: url('/img/topo-gourmet-pass.jpg') #020202 top center no-repeat;
	font-family: verdana, helvetica, arial, sans-serif;
}

header.menu {
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 1000;
}

section.container {
	padding-top: 580px;
	position: relative;
}
section.container .well {
	background-color: #fff !important;
}
article.conteudo {
	color: #D69900;
	line-height: 20px;
}
article.conteudo h4, article.conteudo h5 {
	text-align: center;
}
article.conteudo h5 {
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 25px;
}
article.cadastro {
	position: relative;
}
article.cadastro .botao-termos{
	position: absolute;
	right: 10px;
	bottom: 15px;
}
article.cadastro div p, article.cadastro .botao-cadastro{
	position: absolute;
}
article.cadastro .botao-cadastro{
	bottom: 15px;
}
.thumbnails {
	margin-left: 0px;	
}
.thumbnails > * {
	float: left;
	margin: 5px 11px;
}
.table-form { margin-left: 0 !important; }